<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %> 
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main class="form__main">
        <h1 class="form__main--titulo">editar producto</h1>
        <form action="/productos/edit/<%= id %>?_method=PUT" method="POST" class="formAdd">
            <div class="formAdd__name">
                <label for=""></label>
                <input type="text" name="productName" placeholder="Nombre del producto" value="<%= name %>">
            </div>
            <div class="formAdd__description">
                <label for="">Descripción del producto</label>
                <textarea name="productDescription" cols="50" rows="5"><%= description %></textarea>
            </div>
            <div class="formAdd__category">
                <select name="category" id="category">
                    <option value="" selected hidden>Categoría</option>
                </select>
            </div>
            <div class="formAdd__category">
                <select name="marca" id="marca">
                    <option value="" selected hidden>Marca</option>
                </select>
            </div>
            <div class="formAdd__price">
                <label for=""></label>
                <input type="number" name="productPrice" placeholder="Precio" value="<%= price %>">
            </div>
            <div class="formAdd__image">
                <label for=""></label>
                <input type="file" name="productImage">
            </div>
            <div class="formAdd__button">
                <button class="formAdd__button--agregar" type="submit">editar</button>
                <button class="formAdd__button--cancelar">cancelar</button>
            </div>
        </form>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %> 
</body>
</html>