<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %> 
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main class="form__main">
        <h1 class="form__main--titulo">editar producto</h1>
        <form action="/productos/edit/<%= id %>?_method=PUT" method="POST" class="formAdd" enctype="multipart/form-data">
            <div class="formAdd__name">
                <label for="name"></label>
                <input type="text" name="name" placeholder="Nombre del producto" value="<%= name %>">
            </div>
            <div class="formAdd__description">
                <label for="descripcion">Descripción del producto</label>
                <textarea name="description" id="description" cols="50" rows="5"><%= description %></textarea>
            </div>
            <div class="formAdd__category">
                <select name="category" id="category">
                  
                    <option value=""<%= category === "Accesorios" && "selected" %>>Accesorios</option>
                    <option value=""<%= category === "Motherboard" && "selected" %>>Motherboard</option>
                    <option value=""<%= category === "Placas de Video" && "selected" %>>Placas de video</option>
                    <option value=""<%= category === "Procesadores" && "selected" %>>Procesadores</option>
                    <option value=""<%= category === "Memorias Ram" && "selected" %>>Memorias Ram</option>
                </select>
            </div>
            <div class="formAdd__category">
                <select name="marca" id="marca">
                   <option value=""<%= marca === "AMD" && "selected" %>>AMD</option>
                    <option value=""<%= marca === "Intel" && "selected" %>>INTEL</option>
                    <option value=""<%= marca === "Gigabyte" && "selected" %>>Gigabyte</option>
                    <option value=""<%= marca === "Redragon" && "selected" %>>Redragon</option>
                    <option value=""<%= marca === "HyperX" && "selected" %>>HyperX</option>
                    <option value=""<%= marca === "GeForce" && "selected" %>>GeForce</option>
                </select>
            </div>
            <div class="formAdd__price">
                <label for="price"></label>
                <input type="number" name="price" placeholder="Precio" value="<%= price %>">
            </div>
            <div class="formAdd__novedad">
                <input type="checkbox" name="novedad" id="novedad" <%= novedad && 'checked' %>>
                <label for="novedad">Es un producto recién salido al mercado.</label>
            </div>
            <div class="formAdd__price">
                <label for=""></label>
                <input type="number" name="discount" placeholder="Descuento" value="<%= discount %>">
            </div>
            <div class="formAdd__image">
                <label for=""></label>
                <input type="file" name="images" multiple>
            </div>
            <div class="formAdd__button">
                <button class="formAdd__button--agregar" type="submit">editar</button>
                <button class="formAdd__button--cancelar">cancelar</button>
            </div>
        </form>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %> 
</body>
</html>