<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

  <body class="home">
    <!-- encabezado -->
    <%- include('./partials/header.ejs') %>

      <!-- principal -->
      <main class="container-form">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Descuento</th>
                                <th scope="col">Novedad</th>
                                <th scope="col">Acciones</th>

                              </tr>
                            </thead>
                            <tbody>
                                <% productos.forEach(({id, name, price, description, category, brand, discount, novelty }) => { %>
                                    <tr>
                                        <th scope="row"><%= id %></th>
                                        <td><%= name %></td>
                                        <td><%= price %></td>
                                        <td><%= description %></td>
                                        <td><%= category.nameCategory %></td>
                                        <td><%= brand.name %></td>
                                        <td><%= discount %></td>
                                        <td><%= novelty %></td>
                                        <td>
                                           <div class="containerButons">
                                            <a class="butonVerProd" href="/productos/productDetail/<%= id %>"><i class="far fa-eye"></i></a>
                                            <a class="butonEditarProd" href="/productos/edit/<%= id %>"><i class="far fa-edit"></i></a>
                                            

                                            <form id="formE"class="formAdd__form--eliminar" action="/productos/delete/<%= id %>?_method=DELETE" method="POST" name="formE" >
                                            <button class="butonEliminarProd" type="submit"><i class="fas fa-trash"></i></button> 
                                          </form>
                                          </div> 
                                        </td>
                                      </tr>
                                <% }) %>
                            
                           
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
     
     

      </main>
      <!-- pie de pagina -->

      <script src="/js/dashboard.js"></script>  
      <%- include('./partials/scripts.ejs',{view:'dashboard'})  %>

  </body>

</html>