
    <article class="main__section__productos--article">
         <a href= "/productos/productDetail/<%= id %> "><img src="/images/productos/<%= image  ? image[0] : 'imageNull.jpeg'%>" alt=""></a>
         <div>  <h2>$ <%= price%></h2>
            <a class= "main__section__productos--article--vermas" href="/productos/productDetail/<%= id %> ">Ver más...</a>
            <h3><%= title %> </h3>
        <h3><%= description %> </h3>
       
        </div>
    </article>

