<div class="card">
    <a href="/productos/productDetail/<%= id %> ">

    <a class="card-body">
        <h5 class="card-title"><%= title %></h5>
        <p class="card-text"><%= description %></p>
        <h6 class="card-subtitle mb-2 text-muted">$ <%= price%></h6></a>
        <a href="/productos/productDetail/<%= id %> " class="main__article_buton">Ver detalles</a>
    </div>
</div>