<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/burguermenu-search') %>
            <main class="productDetail__main">
                <section class="productDetail__main__section section--imagenPrincipal">
                    <img src="/images/productos/<%= image ? image[0] : 'imageNull.jpeg'%> " alt="">
                </section>

                <section class="productDetail__main__section section--info">
                    <h1><%= name %></h1>
                    <div class="section__div--info">
                        <div class="section__div--info-sku">
                            <h4>sku: <%= id %></h4>
                        </div>
                        <div class="section__div--info-precio">
                            <h3>$<%= price*((100-discount)/100) %></h3>
                            <p>precio en un pago</p>
                        </div>
                        <p>12 cuotas sin interés de: $<%= (price/12).toFixed(2) %></p>
                        <div class="section__div--info-btn">
                            <button class="product_button"><a href="">Agregar al Carrito</a></button>
                        </div>
                    </div>
                    <section class="productDetail__main__section section--vistasImages">
                      <% if (image) { %>
                         <% image.forEach(image => { %>
                            <img src="/images/productos/<%= image ? image : 'imageNull.jpeg'%> " alt="">
                        <% }) %>
                     <% }else{ %>
                        <img src="/images/productos/<%= image ? image : 'imageNull.jpeg'%> " alt="">
                      <% } %>
                       
                       
               
                    </section>
                </section>
            
                
                <section class="productDetail__main__section section--caracteristicas">
                    <h2 class="productDetail__main__section--detallesMobile">ver más detalles del producto</h2>
                    <h2 class="productDetail__main__section--detallesDesktop">lo que tenés que saber de este producto:
                    </h2>
                    <p class="productDetail__main__section__description">
                        <%= description %>
                    </p>

                </section>
<!-- 
                <section class="formAdd__button productDetail__section--buttons">
                    <button class="formAdd__button--agregar"><a href="/productos/edit/<%= id %>">editar</a></button>
                    <form class="formAdd__form--eliminar" action="/productos/delete/<%= id %>?_method=DELETE" method="POST" name="formEliminar">
                        <button onclick="eliminar()" type="button" class="formAdd__button--cancelar">eliminar</button> -->
                    </form>                    
                </section>
            </main>

            <%- include('../partials/footer.ejs') %>
            <%- include('../partials/scripts.ejs',{view:'detail'})  %>
    </body>

</html>