<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {otherScript: include('../partials/scripts.ejs',{view:'Home'})}) %>

    <body>
        <%- include('../partials/header.ejs') %>

            <main class="main__productos">

                    <section class="main__section__productos">
                        <h1 class="title__todosProductos my-5" id="titulo">Resultados de la búsqueda:</h1>
                        <div class="paginator"> <%- include('../partials/paginator.ejs') %></div>
                        <div class="container" class="container-productos">
                            <div id="container-productos-card"
                                class="container-productos-card container row justify-content-center justify-content-md-between" style="margin:0">
                            </div>
                        </div>
                        <div class="paginator"> <%- include('../partials/paginator.ejs') %></div>
                    </section>

                    <section class="main__section__compra">
                        <i class="fa-regular fa-credit-card"></i>
                        <h4>Pagá hasta en 12 cuotas</h4>
                        <i class="fa-sharp fa-solid fa-truck"></i>
                        <h4>Recibí tu producto</h4>
                        <i class="fa-solid fa-shield-halved"></i>
                        <h4>Compra 100% Segura</h4>
                    </section>
                    <section class="main__section__marcas">
                        <h2>Las Mejores Marcas están en AMADEUS</h2>

                        <%- include('../partials/carreteMarcas.ejs') %>


                    </section>


            </main>

            <%- include('../partials/footer.ejs') %>
                <script src="/js/carreteMarcas.js"></script>
                <script src="/js/searchResult.js"></script>
                
    </body>

</html>